In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.date_range("20130101", periods=6),
        "C": pd.Series([1, 3, 5, np.nan, 6, 8], dtype="float32"),
        "D": np.arange(1, 7),
        "E": pd.Categorical(["test", "train", "test", "train", "one", "train"]),
        "F": ["foo", "foo1", "foo2", "foo1", "foo", "foo"]
    }
)

## New columns

In [4]:
df["CD"] = df["C"] + df["D"]
df["G"] = np.random.rand(6)
df

     A          B    C  D      E     F    CD         G
0  1.0 2013-01-01  1.0  1   test   foo   2.0  0.851976
1  1.0 2013-01-02  3.0  2  train  foo1   5.0  0.369471
2  1.0 2013-01-03  5.0  3   test  foo2   8.0  0.820325
3  1.0 2013-01-04  NaN  4  train  foo1   NaN  0.805270
4  1.0 2013-01-05  6.0  5    one   foo  11.0  0.215413
5  1.0 2013-01-06  8.0  6  train   foo  14.0  0.408782