In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(
    {
        "A": 1.0,
        "D": pd.Timestamp("20130102"),
        "B": pd.Series([1, 8, 5, np.nan, 10, 2], dtype="float32"),
        "E": pd.Categorical(["test", "train", "test", "train", "one", "train"]),
    }
)

In [2]:
# sort column names
df.sort_index(axis=1, ascending=False)

       E          D     B    A
0   test 2013-01-02   1.0  1.0
1  train 2013-01-02   8.0  1.0
2   test 2013-01-02   5.0  1.0
3  train 2013-01-02   NaN  1.0
4    one 2013-01-02  10.0  1.0
5  train 2013-01-02   2.0  1.0

In [3]:
df.sort_values(by="B")

     A          D     B      E
0  1.0 2013-01-02   1.0   test
5  1.0 2013-01-02   2.0  train
2  1.0 2013-01-02   5.0   test
1  1.0 2013-01-02   8.0  train
4  1.0 2013-01-02  10.0    one
3  1.0 2013-01-02   NaN  train